html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: auto;
  background-color: #eee9de;
  line-height: 1.5;
  vertical-align: middle;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  padding: .4em .75em .5em;
  text-align: center;
}

h2 {
  display: block;
  max-width: 25em;
  padding: .4em .75em .5em;
  text-align: left;
}

p {
  display: inline-block;
  max-width: 25em;
  padding: .4em .75em .5em;
  text-align: left;
}

a {
  display: inline-block;
  max-width: 25em;
  padding: .4em .75em .5em;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
}
